<div class="inner">

	<!-- Menu -->
		<nav id="menu">
			<div class="mini-posts" style="display: flex; justify-content: center; align-items: center;">
				<article>
					<a href="../index.html" class="image fit"><img src="../images/icon.ico" alt="Icon" 
						style="height: 100px; width: 100px; object-fit: cover; transition: none !important; transform: none !important; border: 3px solid black;"/></a>
				</article>
			</div>

			<header class="major">
				<h2><a href="../index.html">Home</a></h2>
			</header>
			<ul>
				<li>
					<span class="opener"><b>API.VintageData.IO</b></span>
					<ul>
						<li><a href="../posts/vintagedata.html"><b>Project Description</b></a></li>
						<li><a href="../posts/vintagedata/datadictionary.html"><b>Data Dictionary</b></a></li>
						<li><a href="../posts/vintagedata/apidocumentation.html"><b>API Documentation</b></a></li>
					</ul>
				</li>
				<li>
					<span class="opener"><b>MTGO-Tracker</b></span>
					<ul>
						<li><a href="../posts/mtgotracker.html"><b>Project Description</b></a></li>
						<li><a href="../posts/mtgotracker/gettingstarted.html"><b>Getting Started</b></a></li>
						<li><a href="../posts/mtgotracker/updating.html"><b>Updating MTGO-Tracker</b></a></li>
						<li><a href="../posts/mtgotracker/updatingaux.html"><b>Updating Auxiliary Files</b></a></li>
						<li><a href="../posts/mtgotracker/datadictionary.html"><b>Data Dictionary</b></a></li>
						<li><a href="../posts/mtgotracker/datacleaning.html"><b>Data Cleaning</b></a></li>
						<li><a href="../posts/mtgotracker/dataviewing.html"><b>Data Viewing</b></a></li>
						<li><a href="../posts/mtgotracker/dashboards.html"><b>Dashboards</b></a></li>
						<li><a href="../posts/mtgotracker/settings.html"><b>Settings</b></a></li>
						<li><a href="../posts/mtgotracker/saving.html"><b>Saving and Exporting</b></a></li>
					</ul>
				</li>
				<li><a href="../posts/mtgodb.html"><b>MTGO-DB</b></a></li>
				<li>
					<span class="opener"><b>Data Analysis</b></span>
					<ul>
						<li><a href="wowarenatbc.html"><b>World of Warcraft - ArenaStats TBC</b></a></li>
					</ul>
				</li>
			</ul>
		</nav>

	<!-- Section -->
		<section>
			<header class="major">
				<h2><a href="resume.html">Resume</a></h2>
			</header>
			
			<div class="mini-posts" style="display: flex; justify-content: center; align-items: center;">
				<article>
					<a href="resume.html" class="image fit"><img src="../images/resumeicon.jpg" alt="Resume" 
						style="height: 100px; width: 100%; object-fit: cover; transition: none !important; transform: none !important; border: 3px solid black;"/></a>
				</article>
			</div>

			<!-- <div class="mini-posts">
				<article>
					<a href="resume.html" class="image"><img src="../images/pic12.jpg" alt="Selfie" style="border: 3px solid black;"/></a>
				</article>
			</div> -->
			<!-- <ul class="actions">
				<li><a href="#" class="button">More</a></li>
			</ul> -->
		</section>

	<!-- Section -->
		<section>
			<header class="major">
				<h2>Contact</h2>
			</header>
			<!-- <p>XXX</p> -->
			<ul class="contact">
				<li class="icon solid fa-envelope">chriserickson [at] live [dot] com</li>
				<!-- <li class="icon solid fa-phone">(000) 000-0000</li> -->
				<li class="icon solid fa-home">Orange County, CA</li>
			</ul>
		</section>

	<!-- Footer -->
		<footer id="footer">
			<p class="copyright">&copy; Project Portfolio - cderickson. All rights reserved. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
		</footer>

</div>